/**
* container
**/
.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container img {
  margin: 2.5rem 0;
}
.btn {
  margin: 5rem 0;
}